* {
  font-family: monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.shadow_div {
  border: 2px solid black;
  box-shadow: 3px 3px;
  border-radius: 1px;
}

.main_container {
  margin: 0 auto;
  width: 640px;
  display: grid;
  grid-template-rows: 2rem, 5rem;
}
.main_container h1 {
  padding: 0 5px;
  background-color: black;
  color: white;
}

#p5_canvas {
  width: 100%;
}
